@font-face {
    src: url("https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf");
    font-family: "Bitstream Vera Serif Bold";
}

*{
    font-family: "Bitstream Vera Serif Bold", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --left-gap: 8rem;
}

.content{
    display: flex;
    flex-direction: row;
}


.form{
    background-color: antiquewhite;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.entry
{
    display: flex;
    flex-flow: column;
}

.background{
    max-width: 100%;
    max-height: 100vh;
}

form{
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.rooms, .name, .contact, .password{
    display: flex;
    justify-content: flex-start;
    gap: 8rem;
}

.submit{
    padding-top: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.form-main {
    width: 100%;
    padding-left: var(--left-gap);
}

.form-main input{
    width: 20rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
}